.shop {
  position: relative;
  padding: 5rem 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;

  background-image: url('../../images/sound_waves.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.shop:after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.1);
}
