.cart {
  z-index: 1;
  position: fixed;
  right: 0;
  top: 200px;
  width: 20rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
}

h2,
p,
button {
  text-transform: capitalize;
}

h2 {
  font-size: 1.5rem;
}

.items {
  max-height: 300px;
  overflow-y: scroll;
  align-self: stretch;
}
