.widget {
  display: flex;
  align-items: center;
}

.widget > * {
  font-size: 1.25rem;
}

.itemCount {
  width: 2rem;
  text-align: center;
}

.widgetBtn {
  width: 1.75rem;
  border: none;
}

.widgetBtn:hover {
  transform: scale(1.02);
  box-shadow: 0.05rem 0.07rem 0.1rem rgba(0, 0, 0, 0.25);
}
