.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;

  background-image: url('../../images/sound_waves.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

[data-id='icon'] {
  font-size: 10rem;
  color: #60c2eb;
}
