.header {
  position: sticky;
  top: 0;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}

.header > h1 {
  padding: 0 3rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: #eee;
}
