.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  position: relative;
}

.hidden {
  display: none;
}

.container > * {
  border: 1px dashed grey;
}

/*TODO - pick up with positioning the main components... main content should take up at least the leftover from header and footer.*/
