.nav {
  display: flex;
  align-items: center;
  gap: 3rem;
  text-transform: capitalize;
}

.nav > a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 250ms ease-in-out;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.nav > a:hover,
.nav > a:active {
  border-bottom: 2px solid #60c2eb;
  color: #ddd;
}

.nav > button {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
  text-transform: capitalize;
  background-color: rgba(255, 255, 255, 0);
  color: #60c2eb;
}

.nav > button:hover {
  box-shadow: none;
}

[data-id='cart'] {
  font-size: 2rem;
  color: #60c2eb;
}
